/* 
    일반 태그

*/

*{
    padding: 0;
    margin: 0;
}

html{
    font-size: 10px; 
}

div {
    display: block;
}

ol, ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
li {
    display: list-item;
    text-align: -webkit-match-parent;
}
b {
    font-weight: bold;
}


a {
    text-decoration: none;
}


user agent stylesheet
em {
    font-style: italic;
}

address, caption, cite, code, dfn, em, strong, th, var {
    font-weight: normal;
    font-style: normal;
}

article {
    display: block;
}




/* 
    특정 태그

*/


.clearfix:after {
    clear: both;
    display: block;
    content: "";
}


#footer{background-color: #3c3c3c}

footer {
    display: block;
    font-size: 1.6rem;
    width: 100%;
    
}

#footerInner {
    position: relative;
}

.clearfix{
    width: 80%;
    margin: 0% 15% 0% 30%;
}

#footerBottom {
    padding: 30px 0 45px;
    text-align: left;
}
.area-box {
    margin: 0 5.2%;
}
.footer-left-con {
    float: left;
}
.foot-info-menu-m {
    display: none;
}



.footer-address p {
    color: #999;
    letter-spacing: -0.15px;
    line-height: 1.2;
    -ms-word-break: keep-all;
    word-break: keep-all;
    padding-bottom: 13px;
}

.footer-address p b {
    color: #d6d6d6;
}
.footer-address a {
    color: inherit;
}


.footer-address span:not(.foot-info-menu) {
    display: inline-block;
}


.footer-copyright {
    padding-top: 25px;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 0.2px;
    color: #999;
}
.footer-address a {
    color: inherit;
}
.footer-address span:not(.foot-info-menu) {
    display: inline-block;
}
.footer-copyright .fc-white {
    color: #ccc;
}
.footer-copyright-m {
    display: none;
}




/* 
    반응형 
    
*/

@media screen and (max-width: 576px) {

    b{
        font-size: 2rem;
        padding-right: 80%;
    }

    .clearfix{
        width: 95%;
        margin: 0 auto;
        white-space: normal;
    }

    .changeLine{
        padding-right: 60%;
    }
  

}



@media screen and (min-width:577px) and (max-width: 768px) {
    .clearfix{
        width: 95%;
        margin: 0% 15% 0% 5%;
    }

    #footerInner{

        margin: 0 10%;
    }

}


@media screen and (min-width:769px) and (max-width: 992px) {
    
    

    .clearfix{
        width: 100%;
        margin: 0% 10% 0% 12%;
    }



}





