
/*
    일반 태그

*/

html{
    font-size: 10px;

}

body{
    color: #333;
    font-weight: 400;
    /* 줄 높이 */
    line-height: 1.4;
    font-family: 'Nanum Myeongjo', serif;
    min-height: 1500px;
    /*  #f6f5f0*/
    background-color: #f7f7f7;
    margin: auto;
    width: 100vw;
    height: 100vh;
}


img{
    display: block;
    width: 300px;
    height: 300px;
    max-width: 100%

}
h2{
    display: block;
    padding-left: 20px;
    padding-top: 50px;
    padding-bottom: 10px;
    font-size: 3rem;
    font-family: 'Gugi', cursive;
   /* font-family: 'Song Myung', serif; */
}
i {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 20px;
}
a { 
    text-decoration: none; color: #333; 
}
p {
    padding-top: 10px;
    font-size: 17px;
}
header{
    width:100%;
    /* #f6f5f0 */
    border-bottom: 1px solid #c8c8c8;
    position: relative;
    z-index: 9;
    margin-bottom: 5%;
}



/*
    특정 태그

*/


.inner {
    width: 80%;
    margin: 0 auto;
    position: relative;
}

header > .inner{
    height: 170px;
}
header .logo{
    display: flex;
}
header .sub-menu{
    display: flex;
    position: absolute;
    top: 48px;
    right: 0;
}
header .sub-menu ul.menu{
    /* sub-menu 수평 정렬 (flex) */
     display: flex;
}
header .sub-menu ul.menu li{
    position: relative;
}


header .sub-menu ul.menu li::before{
    /* sub-menu 구분선 :: 가상선택자 이용 */
    content: "";
    display: block;
    width: 1px;
    height: 12px;
    background-color:gray;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
}



header .sub-menu ul.menu li:first-child:before{
    /* :: 가상선택자의 첫번째 선택자 안보이게 */
    display: none;
}
header .sub-menu ul.menu li a {
    font-size: 1.5rem;
    padding: 11px 16px;
    display: block;
    color: #656565;
    font-weight: 600;
}
header .sub-menu ul.menu li a:hover {
    /* 마우스 올렸을때 글자 색상 블랙 */
    color: #000;
}
header .sub-menu .search {
    height: 30px;
    position: relative;
    text-decoration: none;

}
header .sub-menu .search input{
    width: 250px;
    height: 30px;
    margin-top: 5px;
    margin-right: 5px;
    padding: 10px 10px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    outline: none;
    background-color: #fff;
    color: #777;

}
header .sub-menu .search .material-icons{
    height: 13px;
    position: absolute;
    top: 0;
    bottom: 0;
    /* 돋보기 오른쪽으로 가버림 */
    right: 10px;
    margin: auto;
    
}
header .main-menu{
    display: flex;
    position: absolute;
    top: 105px;
    left: 0px;
    right: 0px;
}

/* 메뉴 리스트 */
header .main-menu .item{
    display: flex;
    width: 90%;
    margin: 0 auto;
    padding-top: 25px;
  
}

/* 메뉴들 */
header .main-menu .item .item__name{
    
    font-size: 1.85rem;
    position: relative;
    width: 70%;
    text-align: center;
    font-weight: 500;
}






@media screen and (max-width: 576px) {

  

}



@media screen and (min-width:577px) and (max-width: 992px) {
   
    /*
        logo 한 줄
        검색창 한 줄
        로그인, 회원가입, 마이페이지 그대로 
        8가지 메뉴들을 + 기능에다가
        => 요거를 아예 다른 페이지로 호출하는 것도 나쁘지 않은듯....
    */

    html{
        font-size: 16px;
        white-space:normal;
    }

    .logo{
        
    }

    header .sub-menu .search input{
        
        height: 40px;
        width: 500px;

    }

    


   


}


@media screen and (min-width:993px) and (max-width: 1200px) {
    
    html{
        font-size: 8px;
    } /* 
        i-class는 css 적용이 어렵기에 font-size를 rem으로 하고, 이렇게 html전체에서 바꾸는 수밖에...
    */

    h2{
        font-size: 3rem;

    }

    .logo{
        padding-left: 5%;

    }

    .inner{
        width: 95%;
    }

    .sub-menu{
        width: 60%;
       
    }

    .sub-menu .search{
        margin-right: 3%;
    }

    .menu>li{
        width: 50px;
    }

    header .sub-menu ul.menu li{
        width: 100px;
    }

    header .sub-menu ul.menu li a {
        font-size: 1.7rem;
        font-weight: 750;
        text-align: center;

    }

 

    /* 메뉴 리스트 */
    header .main-menu .item{
        width: 95%;
    }


    /* 메뉴들 */
    header .main-menu .item .item__name{
        
        font-size: 2.2rem;
        position: relative;
        width: 70%;
        text-align: center;
        font-weight: 500;
    }



}




