<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>

    <link rel="icon" href="./favicon.png" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" href="./header.css" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.21/lodash.min.js"
        integrity="sha512-WFN04846sdKMIP5LKNphMaWzU7YpMyCU245etK3g/2ARYbPK9Ub18eG+ljU96qKRCWh+quCY7yefSmlkQw1ANQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/gsap.min.js"
        integrity="sha512-H6cPm97FAsgIKmlBA4s774vqoN24V5gSQL4yBTDOY2su2DeXZVhQPxFK4P6GPdnZqM9fg1G3cMv5wD7e6cFLZQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Gowun+Batang&family=Gugi&family=Nanum+Myeongjo&family=Song+Myung&display=swap');
    </style>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css" />
 

    <title>동네사진작가 </title>
</head>

<body>

    <!-- class="col" 을 하면 다 하나의 열로 배치된다.-->

    <!-- header <i class="fas fa-camera-retro"></i>  -->
    <header>
        <div class="inner">
            <div class="logo">
                <a href="/">
                    <i class="fas fa-camera-retro" style="font-size: 7rem;"></i>
                </a>
                <h2>동네사진작가</h2>
            </div>


            <div class="sub-menu">
                <div class="search">
                    <input type="text">
                    <div class="material-icons">
                        <a href="https://www.naver.com/">search</a>
                    </div>
                </div>
                <ul class="menu">
                    <li>
                        <a href="/signin">로그인</a>
                    </li>
                    <li>
                        <a href="./regcheck.html">회원가입</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">마이페이지</a>
                    </li>
                </ul>


            </div>
            <div>
                <ul class="main-menu">
                    <li class="item">
                        <div class="item__name">
                            <a href="/">동네작가사진</a>
                        </div>
                        <div class="item__name">
                            <a href="/">전문가사진</a>
                        </div>
                        <div class="item__name">
                            <a href="/">노하우</a>
                        </div>
                        <div class="item__name">
                            <a href="/">만남의광장</a>
                        </div>
                        <div class="item__name">
                            <a href="/">공모전</a>
                        </div>
                        <div class="item__name">
                            <a href="/">스카웃후기</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </header>




    <script>
        $("document").ready(function () { })
    </script>



</body>

</html>