@charset "UTF-8";

 /* 임시 방편.... */
footer{
	position: absolute;
	bottom: 0;
}


.ins-pics-container{
	width:50%;
	margin: 0 auto;

}
.general_ratio{
	margin-top:10%;
	padding:0px;	
}

.general_ratio2{
	width: 100%;
	margin: 0 auto;
}

.general_ratio2 > div{
	display:inline-block;
}


#file-pics-camera{
	width:400px;
	border:solid 2px black;
	text-align:center;
}
#pics{
	display:none;
}
#img-camera{
	width:396px;
	
}
/* 완전 아마추어도 안하는 짓이긴하지만.. 이미지에다가 이미지를 올림.. */
#img-camera2{
	position:absolute;
  	left: 31.5%;
    top: 36.5%;
}
/* select박스(지역) */
.form-select-loc{
	 width:160px;
     padding:5px;
     border:1px solid #808080;
     font-family:'Nanumgothic'; 
     border-radius:3px;
}
/* select박스(종류) */
.form-pics-kind{
	 width:100px;
     padding:5px;
	 border:1px solid #808080;
     font-family:'Nanumgothic'; 
     border-radius:3px;
     margin-left:15px;
}
/* 전체 셀렉트박스를 감싸는 div */
.select-div{
	margin-bottom:15px;
}
/* 지정된 사진 규격을 맞추는 버튼 */
.img-standard-btn{
	width:100px;
	height:35px;
	background-color:#555555;	
	color:white;
}
/* 사진등록페이지(제목) */
.pics-ins-title{
	border:1px solid #808080;
	border-radius:4px;
	width:200%;
	height:30px;
	margin-left:40%;
}
/* 사진등록페이지(사진소개) */
.pics-ins-text{
	border:1px solid #808080;
	border-radius:4px;
	width:200%;
	height:200px;
	margin-left:40%;
	margin-top:5px;
}
/* 해쉬태그 입력 */
.pics-ins-hash{
	border:1px solid #808080;
	border-radius:4px;
	width:100%;
	height:40px;
	margin-left:40%;
	margin-top:5px;
}
/* 등록 버튼 */
.pics-ins-button{
	width:100px;
	height:35px;
	background-color:#555555;	
	color:white;
	margin-left:37%;
}
/* li 기호 없애기 */
.tag-item{
	list-style:none;
	float:left;
	margin-top:5px;
	margin-left:5px;
	background:#f7e600;
	border-radius:15px;
	color: black;
}

#tag-list{
	
	padding: 0;
}

/* 삭제 버튼 */
.del-btn{
	height:20px;
	border:0;
	outline:0;
	border-radius:5px;
	background: red;
}

.hashInput{
	border-radius: 15px;
}


