footer{
	position: absolute;
	bottom: 0;	

} /* 임시 방편.... */


.container {
    width: 1000px;
	height: 600px;
    position: relative;
    box-shadow: 2px 10px 40px rgba(22, 20, 19, 0.4);
    border-radius: 10px;
    margin-top: 100px;
    margin-left: 200px; 
    padding:0px;
    background-color: #dcdcdc;
  }  
  .logbox{
      position: absolute;
      width: 400px;
	  height: 500px;
      margin-top: 50px;
      margin-left: 85px;
  
  }

.log1{
    background-image:url('https://i.pinimg.com/736x/b8/09/22/b80922f6ea2daaf36a6627378662803b--deck-of-cards-phone-wallpapers.jpg');
    background-size:360px 450px;
    background-repeat: no-repeat;
    background-color:white;
    width:360px;
    height:450px;
    display:inline-block;
    position:absolute;
	margin-left:30%;
    border-radius:10px 10px 15px 15px;
 }
.logtext1{
    color:black;
    font-size:28px;
    text-align:center;
    font-weight: 300;
    margin-top:100px;
 }
 .logtext2{
    color:white;
    font-size:16px;
    font-weight: 300;
    text-align:center;
    margin-top:10px;
 }
 .log2{
    background-color:white;
   width:360px;
    height:450px;
    border-radius:15px;
    position:absolute;
    margin-left:140%;
    display:inline-block;
 }
 
.signin{
	margin-top: 60px;
	text-align:center;
} 
 
 .userlog{
    font-weight: bold;
   	margin-top: 30px;
   	width: 250px;
    height: 35px;
    border-radius: 5px;
    outline: none;
    border: none;
    background-color: #F6F7F9;
    color: #8a929f;
    font-size: 14px;
 }

 .btn1{
     width: 200px;
      height: 40px;
      border-radius: 5px;
      outline: none;
      border: none;
      background:#3c3c3c;
      color: white;
      font-size: 1rem;
     margin:40px 0px;
     }
 .regbtn{
   padding-left: 20px;
  font-size: 13px;
  cursor: pointer;

 }