body{
    color: #333;
    font-size: 16px;
    font-weight: 400;
    /* 줄 높이 */
    line-height: 1.4;
    font-family: 'Nanum Myeongjo', serif;
    height: 1500px;
    /*  #f6f5f0*/
    background-color: #f7f7f7;
    margin: auto;
    width: 100vw;
    height: 100vw;
}
img{
    display: block;
    width: 300px;
    height: 300px;
    max-width: 100%

}
h2{
    display: block;
    padding-left: 20px;
    padding-top: 50px;
    padding-bottom: 10px;
    font-size: 25px;
    font-family: 'Gugi', cursive;
   /* font-family: 'Song Myung', serif; */
}
i {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 20px;
}
a { 
    text-decoration: none; color: #333; 
}
p {
    padding-top: 10px;
    font-size: 17px;
}

.inner {
    width: 1100px;
    margin: 0 auto;
    position: relative;
}


/* HEADER */
header{
    width:100%;
    /* #f6f5f0 */
    border-bottom: 1px solid #c8c8c8;
    position: relative;
    z-index: 9;
}
header > .inner{
    height: 170px;
}
header .logo{
    display: flex;
}
header .sub-menu{
    display: flex;
    position: absolute;
    top: 10px;
    right: 0;
}
header .sub-menu ul.menu{
    /* sub-menu 수평 정렬 (flex) */
     display: flex;
}
header .sub-menu ul.menu li{
    position: relative;
}
header .sub-menu ul.menu li::before{
    /* sub-menu 구분선 :: 가상선택자 이용 */
    content: "";
    display: block;
    width: 1px;
    height: 12px;
    background-color:gray;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
}
header .sub-menu ul.menu li:first-child:before{
    /* :: 가상선택자의 첫번째 선택자 안보이게 */
    display: none;
}
header .sub-menu ul.menu li a {
    font-size: 14px;
    padding: 11px 16px;
    display: block;
    color: #656565;
}
header .sub-menu ul.menu li a:hover {
    /* 마우스 올렸을때 글자 색상 블랙 */
    color: #000;
}
header .sub-menu .search {
    height: 30px;
    position: relative;
    text-decoration: none;

}
header .sub-menu .search input{
    width: 150px;
    height: 30px;
    margin-top: 5px;
    margin-right: 5px;
    padding: 10px 10px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    outline: none;
    background-color: #fff;
    color: #777;

}
header .sub-menu .search .material-icons{
    height: 13px;
    position: absolute;
    top: 0;
    bottom: 0;
    /* 돋보기 오른쪽으로 가버림 */
    right: 10px;
    margin: auto;
    
}
header .main-menu{
    display: flex;
    position: absolute;
    top: 105px;
    left: 0px;
    right: 0px;
    display: flex;

}
header .main-menu .item{
    display: flex;
  
}
header .main-menu .item .item__name{
    padding: 35px 20px 10px 20px;
    font-size: 15px;
    position: relative;
  
}

.visual{
    background-image: url("../image/visual_bg.jpg");
    background-position: center;
    border-bottom: 1px solid #c8c8c8;
    position: relative;
}
.visual .inner{
   height: 500px;
}
.visual .inner .ul{
    display: flex;
    position: absolute;
}
.text{
    display: flex;
    position: relative;
    padding-left: 80px;
}
.text .text1{
    font-size: 40px;
    position: absolute;
    top:140px;
    bottom: 30px;
}
.text .text2{
    font-size: 20px;
    position: absolute;
    top: 220px;
    bottom: 30px;
    line-height: 38px;
}

#slideShow{
    width: 400px;
    height: 300px;
    position: relative;
    /* list 형식으로 정렬하기 위해, 500px 밖으로 오버플로우된 이미지들은 hidden으로 숨기기*/
    overflow: hidden;
    margin-top: 80px;
    margin-left: 60%;
    padding-right: 80px;
    padding-bottom: 80px;
}
.slides{
    position: absolute;
    top: 20px;
    width: 2400px;
    transition: left .5s ease-out;
}
.slides li:first-child{
    /* 첫번째 슬라이드 가운데정렬 위해, margin-left 조정 */
    margin-left: 100px;
}

.slides li{
    float: left;
    margin-left: 50px;
    margin-right: 50px;
}

.controller span{
    position: absolute;
    background-color: transparent;
    color: black;
    text-align: center;
    border-radius: 50%;
    margin-top: 130px;
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
}


.controller span:hover{
    background-color: rgba(128, 128, 128, 0.19);
}
.prev{ 
    left: 10px; 
} /* 이전 화살표에 마우스 커서가 올라가 있을때 이전 화살표가 살짝 왼쪽으로 이동하는 효과*/ 
.prev:hover{ 
    transform: translateX(-10px); 
} 
.next{ 
    right: 10px; 
} /* 다음 화살표에 마우스 커서가 올라가 있을때 이전 화살표가 살짝 오른쪽으로 이동하는 효과*/ 
.next:hover{ 
    transform: translateX(10px); 
}
#slideShow2{
    width: 2800px;
    height: 300px;
    position: relative;
    /* list 형식으로 정렬하기 위해, 500px 밖으로 오버플로우된 이미지들은 hidden으로 숨기기*/
    overflow: hidden;
    padding-right: 80px;
    padding-bottom: 80px;
    
}
.slides2{
    display: flex;
    position: relative;
    top: 15px;
    left: 0px;
    right: 0px;
}
.slides2 li{
    float: left;
    margin-left: 20px;
    margin-right: 20px;
}
