#Pro_Pics_Container .row {
    width: 80%;
    margin: 0 auto;
}

#Pro_Pics_Container .card-img-top {
    height: 18rem;
    /* 비율을 좀 맞춰야할 필요가 있다. */
    object-fit: cover;
}

#Pro_Pics_Container input, #Pro_Pics_Container select, #Pro_Pics_Container button{
    border-radius: 7px;
}



#Pro_Pics_Container .filter {
    width: 80%;
    margin: 0 auto;

}

#Pro_Pics_Container a {
    text-decoration: none;
    color: black;

}

#Pro_Pics_Container .title{
    text-align: center; 
    font-size: 30px;
}

#Pro_Pics_Container .filter,  #Pro_Pics_Container .place_tag_filter,
#Pro_Pics_Container .view_filter{
    display: flex;
}

#Pro_Pics_Container .filter{
    justify-content: space-between;
}

#Pro_Pics_Container .place_tag_filter{
    align-items: center;
}

#Pro_Pics_Container .view_filter a{
    padding-right: 10px;
}