.container {
    width: 800px;
	height: 840px;
    position: relative;
    margin: auto;
    box-shadow: 2px 10px 40px rgba(22, 20, 19, 0.4);
    border-radius: 10px;
    margin-top: 100px;
    padding-top:10px;
    background-color: #dcdcdc;
  }  
  /* 2/7 체크박스 추가 */
#chk1{
  padding-top: 20px;
  font-size: 14px;
  margin-left:40px
}
#chk2{
  padding-top: 20px;
   margin-left: 30px;
   font-size: 14px;
}
  .btn1{
          width: 180px;
            height: 40px;
            border-radius: 5px;
            outline: none;
            border: none;
            background:#3c3c3c;
            color: white;
            font-size: 12px;
           	margin: 0 auto;
           	margin-top:40px ;
           	text-align: center;
           	
     }
  .btnid{
          width: 75px;
         height: 30px;
         border-radius: 5px;
         outline: none;
         border: none;
         background: gray;
         color: white;
         font-size: 12px;
         float: right;
      }
         
  .regin{
   background-color: white;
   width:500px;
   height:750px;
   border-radius:15px;
   position:absolute;
   margin-left: 25%;
   margin-top: 30px;
   
}


   .userReg{
      display: flex;
      width: 100%;
      height: 35px;
      margin: 0 auto;
      margin-top: 27px;
      padding: 20px 15px;
      border-radius: 5px;
      outline: none;
      border: none;
      background: #F6F7F9;    
      color: black;
      font-size: 1rem;
   }
 

 .gender-container{
 	width: 60%;
 	margin: 0 auto;
 }
 
 .input-container{
 	width: 70%;
 	margin: 0 auto;
 
 }
  
 .regBtn-container{
 
 	width: 60%;
 	margin: 0 auto;
 
 }  