<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>prj4</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <!-- 
  # 스프링에서 지원하는 공통 servlet 설정
  	
  # 요청값에 대한 한글 encoding를 filter객체로 처리
   -->
	<servlet>
		<servlet-name>dispatcher</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		
		<!--  404 에러 처리 -->
		<init-param>
			<param-name>throwExceptionIfNoHandlerFound</param-name>
			<param-value>true</param-value>
		</init-param>
		
	</servlet>
	<servlet-mapping>
		<servlet-name>dispatcher</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>
	<!--  ctrl+s를 눌러가며 진행 -->
	<filter>
		<filter-name>encodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>utf-8</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<!-- 요청값은 모두다 한글에 대한 encoding을 처리하게 한다. 
		 스프링에서 지원하는 객체를 활용한다. 
	-->
	
	<!-- 잘못 오는 경우 -->
	<error-page>
          <error-code>404</error-code>
          <location>/WEB-INF/views/error404.jsp</location>
 	</error-page> 
 	
 	 <!--  
 	<error-page>
          <error-code>500</error-code>
          <location>/WEB-INF/views/error500.jsp</location>
 	</error-page> 
	-->
	
	<!-- 세션 자동 종료. 자동종료되게 해야 서버 부담 감소
		==> 분단위이다. 마지막으로 요청한 시점으로부터(정확히 말하면 아무 움직이 없는경우)		
		다만, 이를 어떻게 알리지? -->
	<session-config>
		<session-timeout>30</session-timeout> 
	</session-config>
	
	   
</web-app>